altgraph==0.16.1
artext==0.2.7
blinker==1.4
certifi==2018.8.24
chardet==3.0.4
click==6.7
cycler==0.10.0
cymem==2.0.2
cytoolz==0.9.0.1
dill==0.2.8.2
en-core-web-sm==2.0.0
Flask==1.0.2
flask-mongoengine==0.9.5
Flask-WTF==0.14.2
future==0.17.1
idna==2.7
itsdangerous==0.24
Jinja2==2.10
kiwisolver==1.0.1
macholib==1.11
MarkupSafe==1.0
matplotlib==3.0.2
mongoengine==0.15.3
msgpack==0.5.6
msgpack-numpy==0.4.3.2
murmurhash==1.0.1
nltk==3.3
numpy==1.15.4
pandas==0.24.1
pefile==2018.8.8
Pillow==5.4.1
plac==0.9.6
preshed==2.0.1
PyInstaller==3.4
pymongo==3.7.1
pyparsing==2.3.1
python-dateutil==2.8.0
pytz==2018.9
regex==2018.1.10
requests==2.20.0
scikit-learn==0.20.2
scipy==1.2.1
sentry-sdk==0.3.4
six==1.11.0
spacy==2.0.16
summa==1.2.0
thinc==6.12.0
toolz==0.9.0
tqdm==4.28.1
ujson==1.35
urllib3==1.23
Werkzeug==0.14.1
wordcloud==1.5.0
wrapt==1.10.11
WTForms==2.2.1
XlsxWriter==1.1.4
