<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='plugin/sweetalert/sweetalert.css') }}?v=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}?v=7}">
    <link href="{{ url_for('static', filename='img/favicon.ico') }}" rel="icon" type="image/x-icon"/>
    <title>NLPCL</title>

    <style>
    </style>
</head>