<!doctype html>
<html lang="en">
{% include 'base/head.html' %}
<style>
    body {
        margin-bottom: 500px;
    }
</style>
<body>
{% include 'base/navbar.html' %}
<div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody id="tbody">
        </tbody>
    </table>
</div>
<input type="hidden" id="doc_id" value="{{doc.id}}"/>
{% include 'base/script.html' %}

<script type='text/template' id='tr-template'>
    <tr class="">
        <td scope="row"><%index%></td>
        <!-- Warning: changing the location of the tag can cause an issue in which the annotation data are not matched. -->
        <td class="target-text" data-index="<%index%>"><%text%></td>
    </tr>
</script>

<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group row">
                        <label for="attribute1" class="col-sm-5 col-form-label">1. Knowledge Awareness</label>
                        <div class="col-sm-7">
                            <select class="form-control" id="attribute1">
                                <option>I already know</option>
                                <option>I did not know</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="attribute2" class="col-sm-5 col-form-label">2. Credibility</label>
                        <div class="col-sm-7">
                            <select class="form-control" id="attribute2">
                                <option>false</option>
                                <option>feel like false</option>
                                <option>hard to judge</option>
                                <option>feel like true</option>
                                <option>true</option>
                                <option>None</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="attribute3" class="col-sm-5 col-form-label">3. Verifiability</label>
                        <div class="col-sm-7">
                            <select class="form-control" id="attribute3">
                                <option>verify it with my knowledge</option>
                                <option>verify it by short time googling</option>
                                <option>verify it by long time googling</option>
                                <option>hard to verify it</option>
                                <option>no way to verify it</option>
                                <option>None</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="attribute4" class="col-sm-5 col-form-label">4. Conditionality</label>
                        <div class="col-sm-7">
                            <select class="form-control" id="attribute4">
                                <option>sufficient condition</option>
                                <option>necessary condition</option>
                                <option>None</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="attribute5" class="col-sm-5 col-form-label">5. Polarity</label>
                        <div class="col-sm-7">
                            <select class="form-control" id="attribute5">
                                <option>negative</option>
                                <option>positive</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="attribute6" class="col-sm-5 col-form-label">6. Tense</label>
                        <div class="col-sm-7">
                            <select class="form-control" id="attribute6">
                                <option>past</option>
                                <option>present</option>
                                <option>future</option>
                                <option>unspecified</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="attribute7" class="col-sm-5 col-form-label">7. Genericity</label>
                        <div class="col-sm-7">
                            <select class="form-control" id="attribute7">
                                <option>specific</option>
                                <option>generic</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="attribute8" class="col-sm-5 col-form-label">8. Source Type</label>
                        <div class="col-sm-7">
                            <select class="form-control" id="attribute8">
                                <option>author</option>
                                <option>involved</option>
                                <option>named third party</option>
                                <option>unnamed third party</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="attribute9" class="col-sm-5 col-form-label">9. Subjectivity</label>
                        <div class="col-sm-7">
                            <select class="form-control" id="attribute9">
                                <option>positive</option>
                                <option>negative</option>
                                <option>neutral</option>
                                <option>multi valued</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="attribute10" class="col-sm-5 col-form-label">10. Factuality</label>
                        <div class="col-sm-7">
                            <select class="form-control" id="attribute10">
                                <option>asserted</option>
                                <option>speculated</option>
                                <option>None</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="attribute11" class="col-sm-5 col-form-label">11. Prominence</label>
                        <div class="col-sm-7">
                            <select class="form-control" id="attribute11">
                                <option>new</option>
                                <option>prominent</option>
                                <option>presupposed</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>

<script>
  const annotation = {
    data: [
      /**
       * {
       *     type: String, // "event" or "sentence"
       *     index: Integer,
       *     sent: ObjectID,
       *     doc: ObjectID,
       *     user: ObjectID,
       *     anchor_offset: Integer,
       *     focus_offset: Integer,
       *     entire_text: String,
       *     target_text: String,
       *     basket: {
       *         KnowledgeAwareness: "2_I_did_not_know",
       *         Tense: "1_past",
       *     },
       * }
       */
    ],
    find_event: function (index, anchor_offset, focus_offset) {
      for (let i = 0; i < this.data.length; i++) {
        const item = this.data[i];
        if (item.type === 'event') continue;
        if (item.index !== index) continue;
        if (item.anchor_offset !== anchor_offset) continue;
        if (item.focus_offset !== focus_offset) continue;
        return i;
      }
      return -1;
    },
    add: function (item) {
      if (item.type === 'event' && this.find_event(item.index, item.anchor_offset, item.focus_offset) !== -1) return;
      this.data.push(item);
    }
  };

  const event = {
    listen_selection: function () {
      document.onmouseup = document.onkeyup = function () {
        const selection = window.getSelection();

        if (selection.type !== 'Range') return;

        const anchorNodeParent = selection.anchorNode.parentElement;
        const focusNodeParent = selection.focusNode.parentElement;

        if (anchorNodeParent.className !== 'target-text') return;
        if (anchorNodeParent.getAttribute('data-index') !== focusNodeParent.getAttribute('data-index')) return;

        const index = Number(anchorNodeParent.getAttribute('data-index'));
        const entire_text = anchorNodeParent.innerText;
        const common_offset = entire_text.indexOf(selection.anchorNode.data);
        let anchor_offset = selection.anchorOffset + common_offset;
        let focus_offset = selection.focusOffset + common_offset;

        const selection_text = selection.toString();

        for (let i = 0; i < selection_text.length; i++) {
          if (selection_text[i] === ' ') anchor_offset++;
          else break;
        }
        for (let i = selection_text.length - 1; i >= 0; i--) {
          if (selection_text[i] === ' ') focus_offset--;
          else break;
        }
        if (anchor_offset >= focus_offset) return;

        const item = {
          entire_text: entire_text,
          target_text: entire_text.substr(anchor_offset, focus_offset - anchor_offset),
          index: index,
          anchor_offset: anchor_offset,
          focus_offset: focus_offset,
          type: 'event',
        };

        api.post_annotation(item, function (data) {
          annotation.add(data['annotation']);
          renderer.render_table();
        });


        modal.set_header(item.target_text);
        modal.set_position(selection);
        modal.show();
      }.bind(this);
    },
  };

  const api = {
    get_doc: function (callback) {
      const doc_id = $('#doc_id').val();
      $.get({
        url: '/api/doc/' + doc_id,
      }).done(function (data) {
        callback(JSON.parse(data));
      })
    },
    get_annotation: function (callback) {
      const doc_id = $('#doc_id').val();
      $.get({
        url: '/api/doc/' + doc_id + '/annotation',
      }).done(function (data) {
        callback(JSON.parse(data));
      })
    },
    post_annotation: function (item, callback) {
      item.doc = $('#doc_id').val();
      $.ajax({
        url: '/api/annotation',
        contentType: 'application/json',
        type: 'POST',
        data: JSON.stringify(item),
      }).done(function (data) {
        callback(JSON.parse(data));
      });
    }
  };

  const modal = {
    el: null,
    init: function () {
      this.el = $('#modal');
      this.el.modal({
        show: false,
      });
      this.el.draggable({
        handle: '.modal-header',
      });
    },
    show: function () {
      this.el.modal('show');
    },
    set_header: function (text) {
      this.el.find('.modal-title').html('Event: ' + text);
    },
    set_position: function (selection) {
      const range = selection.getRangeAt(0);
      const bound = range.getBoundingClientRect();

      this.el.css('left', bound.left - 150);
      this.el.css('top', bound.top + 50);

      console.log('getBoundingClientRect :', range.getBoundingClientRect());
    },
  };

  const renderer = {
    state: {
      sents: [],
    },
    render_table: function () {
      const sents = this.state.sents;

      const tbody = $('#tbody');
      tbody.html('');

      for (let i = 0; i < sents.length; i++) {
        const sent = sents[i];
        let tr = $('#tr-template').html();

        const index = sent['index'];
        const text = sent['text'];

        tr = tr.split('<%index%>').join(sent['index']);
        tr = tr.replace('<%text%>', this.render_markup_sentence(Number(index), text));
        tbody.append(tr);
      }
    },
    render_markup_sentence: function (index, text) {
      const start = {}, end = {};
      for (let i = 0; i < annotation.data.length; i++) {
        const item = annotation.data[i];
        if (item.type !== 'event') continue;
        if (item.index !== index) continue;
        start[item.anchor_offset] = i;
        end[item.focus_offset] = i;
      }
      let markup = '';
      for (let i = 0; i < text.length; i++) {
        if (i in start) {
          markup += '<span class="badge badge-success">';
        }
        markup += text[i];
        if (i + 1 in end) {
          markup += '</span>';
        }
      }
      // console.log('markup :', markup, start, end);
      return markup;
    },
  };

  $(document).ready(function () {
    event.listen_selection();
    api.get_doc(function (data) {
      renderer.state.sents = data['sents'];
      api.get_annotation(function (data) {
        annotation.data = data['annotations'];
        renderer.render_table();
      })
    });

    modal.init();
  })

</script>
</body>
</html>