<!doctype html>
<html lang="en">
{% include 'base/head.html' %}
<style>
    body {
        margin-bottom: 500px;
    }

    .modal {
        width: 850px;
        min-height: 850px;
        max-width: 850px;
        position: absolute;
    }

    .modal .modal-content {
        width: 850px;
        min-width: 850px;
    }

    .modal-body .input-group {
        margin-left: 0;
    }

    .modal-body .input-group-text {
        border: none;
        background-color: white;
    }

    .modal-body .custom-select {
        border: none;
    }

    .modal-body .input-group {
        border-bottom: 1px dashed #CCC;
    }

    .dropdown {
        flex: 1 1 auto;
    }

    .dropdown .dropdown-menu {
        width: 100%;
    }

    .dropdown-toggle::after {
        position: absolute;
        right: 6px;
        top: 18px;
    }

    .dropdown .dropdown-toggle {
        margin-top: 2px;
        color: #495057;
        font-size: inherit;
        width: 100%;
        text-align: left;
        box-shadow: none;
    }

    .dropdown-menu .dropdown-item.active {
        color: white;
    }

    .dropdown-menu .dropdown-item.active:hover {
        color: white;
    }

    .input-group-text.active {
        font-weight: bold;
    }
</style>
<body>
{% include 'base/navbar.html' %}
<div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody id="tbody">
        </tbody>
    </table>
</div>
<input type="hidden" id="doc_id" value="{{doc.id}}"/>
{% include 'base/script.html' %}

<script type='text/template' id='tr-template'>
    <tr class="">
        <td scope="row"><%index%></td>
        <!-- Warning: changing the location of the tag can cause an issue in which the annotation data are not matched. -->
        <td class="target-text" data-index="<%index%>"><%text%></td>
    </tr>
</script>

<div class="modal fade" id="modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-group row">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">1. Knowledge Awareness:</span>
                                </div>
                                <div class="dropdown attribute" id="attribute1">
                                    <button class="btn btn-sm dropdown-toggle" type="button" id="attribute1-val"
                                            data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">
                                        I already know
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="attribute1-val">
                                        <button class="dropdown-item active" type="button" data-value="i_already_know">I
                                            already know
                                        </button>
                                        <button class="dropdown-item" type="button" data-value="i_did_not_know">I did
                                            not know
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group row">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">2. Credibility:</span>
                                </div>
                                <div class="dropdown attribute" id="attribute2">
                                    <button class="btn btn-sm dropdown-toggle" type="button" id="attribute2-val"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        false
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="attribute2-val">
                                        <button class="dropdown-item active" type="button" data-value="false">false
                                        </button>
                                        <button class="dropdown-item" type="button" data-value="feel_like_false">feel
                                            like false
                                        </button>
                                        <button class="dropdown-item" type="button" data-value="hard_to_judge">hard to
                                            judge
                                        </button>
                                        <button class="dropdown-item" type="button" data-value="feel_like_true">feel
                                            like true
                                        </button>
                                        <button class="dropdown-item" type="button" data-value="true">true</button>
                                        <button class="dropdown-item" type="button" data-value="none">none</button>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group row">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">3. Verifiability:</span>
                                </div>
                                <div class="dropdown attribute" id="attribute3">
                                    <button class="btn btn-sm dropdown-toggle" type="button" id="attribute3-val"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        verify it with my knowledge
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="attribute3-val">
                                        <button class="dropdown-item active" type="button"
                                                data-value=">verify_it_with_my_knowledge">verify it with my knowledge
                                        </button>
                                        <button class="dropdown-item" type="button"
                                                data-value="verify_it_by_short_time_googling">verify it by short time
                                            googling
                                        </button>
                                        <button class="dropdown-item" type="button"
                                                data-value="verify_it_by_long_time_googling">verify it by long time
                                            googling
                                        </button>
                                        <button class="dropdown-item" type="button" data-value="hard_to_verify_it">hard
                                            to verify it
                                        </button>
                                        <button class="dropdown-item" type="button" data-value="no_way_to_verify_it">no
                                            way to verify it
                                        </button>
                                        <button class="dropdown-item" type="button" data-value="none">none</button>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group row">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">4. Conditionality:</span>
                                </div>
                                <div class="dropdown attribute" id="attribute4" data-name="conditionality">
                                    <button class="btn btn-sm dropdown-toggle" type="button" id="attribute4-val"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        sufficient condition
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="attribute4-val">
                                        <button class="dropdown-item active" type="button"
                                                data-value="sufficient_condition">sufficient condition
                                        </button>
                                        <button class="dropdown-item" type="button" data-value="necessary_condition">
                                            necessary condition
                                        </button>
                                        <button class="dropdown-item" type="button" data-value="none">none</button>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group row">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">5. Polarity:</span>
                                </div>
                                <div class="dropdown attribute" id="attribute5">
                                    <button class="btn btn-sm dropdown-toggle" type="button" id="attribute5-val"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        negative
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="attribute5-val">
                                        <button class="dropdown-item active" type="button" data-value="negative">
                                            negative
                                        </button>
                                        <button class="dropdown-item" type="button" data-value="positive">positive
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group row">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">6. Tense:</span>
                                </div>
                                <div class="dropdown attribute" id="attribute6">
                                    <button class="btn btn-sm dropdown-toggle" type="button" id="attribute6-val"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        past
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="attribute6-val">
                                        <button class="dropdown-item active" type="button" data-value="past">past
                                        </button>
                                        <button class="dropdown-item" type="button" data-value="present">present
                                        </button>
                                        <button class="dropdown-item" type="button" data-value="future">future</button>
                                        <button class="dropdown-item" type="button" data-value="unspecified">
                                            unspecified
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group row">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">7. Genericity:</span>
                                </div>
                                <div class="dropdown attribute" id="attribute7">
                                    <button class="btn btn-sm dropdown-toggle" type="button" id="attribute7-val"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        specific
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="attribute7-val">
                                        <button class="dropdown-item active" type="button" data-value="specific">
                                            specific
                                        </button>
                                        <button class="dropdown-item" type="button" data-value="generic">generic
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group row">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">8. Source Type:</span>
                                </div>
                                <div class="dropdown attribute" id="attribute8">
                                    <button class="btn btn-sm dropdown-toggle" type="button" id="attribute8-val"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        author
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="attribute8-val">
                                        <button class="dropdown-item active" type="button" data-value="author">author
                                        </button>
                                        <button class="dropdown-item" type="button" data-value="involved">involved
                                        </button>
                                        <button class="dropdown-item" type="button" data-value="named_third_party">named
                                            third party
                                        </button>
                                        <button class="dropdown-item" type="button" data-value="unnamed_third_party">
                                            unnamed third party
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group row">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">9. Subjectivity:</span>
                                </div>
                                <div class="dropdown attribute" id="attribute9">
                                    <button class="btn btn-sm dropdown-toggle" type="button" id="attribute9-val"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        positive
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="attribute9-val">
                                        <button class="dropdown-item active" type="button" data-value="positive">
                                            positive
                                        </button>
                                        <button class="dropdown-item" type="button" data-value="negative">negative
                                        </button>
                                        <button class="dropdown-item" type="button" data-value="neutral">neutral
                                        </button>
                                        <button class="dropdown-item" type="button" data-value="multi_valued">multi
                                            valued
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group row">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">10. Factuality:</span>
                                </div>
                                <div class="dropdown attribute" id="attribute10">
                                    <button class="btn btn-sm dropdown-toggle" type="button" id="attribute10-val"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        asserted
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="attribute10-val">
                                        <button class="dropdown-item active" type="button" data-value="asserted">
                                            asserted
                                        </button>
                                        <button class="dropdown-item" type="button" data-value="speculated">speculated
                                        </button>
                                        <button class="dropdown-item" type="button" data-value="none">none</button>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group row">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">11. Prominence:</span>
                                </div>
                                <div class="dropdown attribute" id="attribute11">
                                    <button class="btn btn-sm dropdown-toggle" type="button" id="attribute11-val"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        new
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="attribute11-val">
                                        <button class="dropdown-item active" type="button" data-value="new">new</button>
                                        <button class="dropdown-item" type="button" data-value="prominent">prominent
                                        </button>
                                        <button class="dropdown-item" type="button" data-value="presupposed">
                                            presupposed
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger btn-sm" id="modal-delete-btn">Delete</button>
                <button type="button" class="btn btn-outline-primary btn-sm" id="modal-save-btn">Save</button>
            </div>
        </div>
    </div>
</div>

<script>
  const annotation = {
    attributes: [
      ['attribute1', 'knowledge_awareness'],
      ['attribute2', 'credibility'],
      ['attribute3', 'verifiability'],
      ['attribute4', 'conditionality'],
      ['attribute5', 'polarity'],
      ['attribute6', 'tense'],
      ['attribute7', 'genericity'],
      ['attribute8', 'source_type'],
      ['attribute9', 'subjectivity'],
      ['attribute10', 'factuality'],
      ['attribute11', 'prominence'],
    ],
    data: [
      /**
       * {
       *     type: String, // "event" or "sentence"
       *     index: Integer,
       *     sent: ObjectID,
       *     doc: ObjectID,
       *     user: ObjectID,
       *     anchor_offset: Integer,
       *     focus_offset: Integer,
       *     entire_text: String,
       *     target_text: String,
       *     basket: {
       *         KnowledgeAwareness: "2_I_did_not_know",
       *         Tense: "1_past",
       *     },
       * }
       */
    ],
    find_event: function (index, anchor_offset, focus_offset) {
      for (let i = 0; i < this.data.length; i++) {
        const item = this.data[i];
        if (item.type === 'event') continue;
        if (item.index !== index) continue;
        if (item.anchor_offset !== anchor_offset) continue;
        if (item.focus_offset !== focus_offset) continue;
        return i;
      }
      return -1;
    },
    add: function (item) {
      if (item.type === 'event' && this.find_event(item.index, item.anchor_offset, item.focus_offset) !== -1) return;
      this.data.push(item);
    },
    remove: function (annotation_id) {
      for (let i = 0; i < this.data.length; i++) {
        const item = this.data[i];
        if (item.id === annotation_id) {
          this.data.splice(i, 1);
          break;
        }
      }
    },
  };

  const event = {
      selection_listen: function () {
        document.onmouseup = document.onkeyup = function () {
          const selection = window.getSelection();

          if (selection.type !== 'Range') return;

          const anchorNodeParent = selection.anchorNode.parentElement;
          const focusNodeParent = selection.focusNode.parentElement;

          if (anchorNodeParent.className !== 'target-text') return;
          if (anchorNodeParent.getAttribute('data-index') !== focusNodeParent.getAttribute('data-index')) return;

          const index = Number(anchorNodeParent.getAttribute('data-index'));
          const entire_text = anchorNodeParent.innerText;
          const common_offset = entire_text.indexOf(selection.anchorNode.data);
          let anchor_offset = selection.anchorOffset + common_offset;
          let focus_offset = selection.focusOffset + common_offset;

          const selection_text = selection.toString();

          for (let i = 0; i < selection_text.length; i++) {
            if (selection_text[i] === ' ') anchor_offset++;
            else break;
          }
          for (let i = selection_text.length - 1; i >= 0; i--) {
            if (selection_text[i] === ' ') focus_offset--;
            else break;
          }
          if (anchor_offset >= focus_offset) return;

          const item = {
            entire_text: entire_text,
            target_text: entire_text.substr(anchor_offset, focus_offset - anchor_offset),
            index: index,
            anchor_offset: anchor_offset,
            focus_offset: focus_offset,
            type: 'event',
          };

          modal.set_header(item.target_text);
          modal.set_position(selection);

          api.post_annotation(item, function (data) {
            const annotation_item = data['annotation'];
            annotation.add(annotation_item);
            renderer.render_table();

            modal.show(annotation_item);
            renderer.load_annotation_and_render_table();
          });

        }.bind(this);
      },
      listen_key: function () {
        $(document).keydown(function (e) {
          switch (e.which) {
            case 13: // enter
              break;
            case 37: // left
              break;
            case 39: // right
              break;
            case 38: // up
              break;
            case 40: // down
              break;
            case 49: // 1
              break;
            case 50: // 2
              break;
            case 51: // 3
              break;
            case 52: // 4
              break;
            case 53: // 5
              break;
            default:
              return;
          }
          e.preventDefault();
        });
      }
    }
  ;

  const api = {
    get_doc: function (callback) {
      const doc_id = $('#doc_id').val();
      $.get({
        url: '/api/doc/' + doc_id,
      }).done(function (data) {
        callback(JSON.parse(data));
      })
    },
    get_annotation: function (callback) {
      const doc_id = $('#doc_id').val();
      $.get({
        url: '/api/doc/' + doc_id + '/annotation',
      }).done(function (data) {
        callback(JSON.parse(data));
      })
    },
    post_annotation: function (item, callback) {
      item.doc = $('#doc_id').val();
      $.ajax({
        url: '/api/annotation',
        contentType: 'application/json',
        type: 'POST',
        data: JSON.stringify(item),
      }).done(function (data) {
        callback(JSON.parse(data));
      });
    },
    delete_annotation: function (annotation_id, callback) {
      $.ajax({
        url: '/api/annotation/' + annotation_id,
        type: 'DELETE',
      }).done(function () {
        callback();
      });
    },
    put_annotation: function (item, callback) {
      $.ajax({
        url: '/api/annotation/' + item.id,
        contentType: 'application/json',
        type: 'PUT',
        data: JSON.stringify(item),
      }).done(function () {
        callback();
      });
    },
  };

  const modal = {
    el: null,
    state: {
      step: 1,
      annotation_item: {},
    },
    init: function () {
      this.el = $('#modal');
      this.el.modal({
        show: false,
      });
      this.el.draggable({
        handle: '.modal-header',
      });
      this.listen();
    },
    next_step() {
      const step = this.state.step + 1;
      setTimeout(function () {
        $('#attribute' + step + '-val').click();
        setTimeout(function () {
          $('#attribute' + step + ' .active').focus();
        }, 100);
      }, 200);

      $('.input-group-text').removeClass('text-primary');
      $('#attribute' + step).parents('.input-group').find('.input-group-text').addClass('text-primary');
      $('.dropdown-toggle').removeClass('text-primary');
      $('#attribute' + step + '-val').addClass('text-primary');
    },
    show: function (annotation_item) {
      this.state.annotation_item = annotation_item;
      this.el.modal('show');

      this.state.step = 0;
      this.next_step();
    },
    set_header: function (text) {
      this.el.find('.modal-title').html('Event: ' + text);
    },
    set_position: function (selection) {
      const range = selection.getRangeAt(0);
      const bound = range.getBoundingClientRect();

      const window_width = document.body.clientWidth;
      const scrollTop = window.pageYOffset || document.documentElement.scrollTop;

      const margin = 20;
      let left = Math.max(margin, bound.left - 450);
      left = Math.min(left, window_width - 850 - margin);
      this.el.css('left', left);
      this.el.css('top', scrollTop + bound.top + 50);
    },
    save: function () {
      const attributes = $('.attribute');

      const find_attribute_name = function (id) {
        for (let i = 0; i < annotation.attributes.length; i++) {
          if (annotation.attributes[i][0] === id) return annotation.attributes[i][1];
        }
        return '';
      };

      for (let i = 0; i < attributes.length; i++) {
        const attribute = $(attributes[i]);
        const attribute_id = attribute.attr('id');

        const value = $('#' + attribute_id + '-val').html().trim().split(' ').join('_');
        this.state.annotation_item.basket[find_attribute_name(attribute_id)] = value;
      }

      api.put_annotation(this.state.annotation_item, function () {
        renderer.load_annotation_and_render_table();
      });
    },
    listen: function () {
      $('.dropdown-item').click(function () {
        const dropdown = $(this).parents('.dropdown');
        const dropdown_toggle = dropdown.find('.dropdown-toggle');
        const before_value = dropdown_toggle.text().trim().split(' ').join('_');
        const value = $(this).attr('data-value');

        dropdown.find('.dropdown-toggle').html(value.split('_').join(' '));

        dropdown.find('.dropdown-item[data-value="' + before_value + '"]').removeClass('active');
        dropdown.find('.dropdown-item[data-value="' + value + '"]').addClass('active');

        modal.state.step = Number(dropdown_toggle.attr('id').replace('attribute', '').replace('-val', ''));
        modal.next_step();
      });

      this.el.keydown(function (e) {
        if (e.keyCode === 13) {
          modal.next_step();
        }
      });

      $('#modal-delete-btn').click(function () {
        const annotation_id = modal.state.annotation_item.id;
        annotation.remove(annotation_id);
        renderer.render_table();
        api.delete_annotation(modal.state.annotation_item.id, function () {
          renderer.load_annotation_and_render_table();
          modal.el.modal('hide');
        });
      });

      $('#modal-save-btn').click(function () {
        modal.save();
        modal.el.modal('hide');
      });
    }
  };

  const renderer = {
    state: {
      sents: [],
    },
    load_annotation_and_render_table: function () {
      api.get_annotation(function (data) {
        annotation.data = data['annotations'];
        renderer.render_table();
      });
    },
    render_table: function () {
      const sents = this.state.sents;

      const tbody = $('#tbody');
      tbody.html('');

      // make annotation map
      const annotation_map = {};
      for (let i = 0; i < sents.length; i++) {
        annotation_map[i] = [];
      }
      for (let i = 0; i < annotation.data.length; i++) {
        const item = annotation.data[i];
        annotation_map[item.index].push(item);
      }

      for (let i = 0; i < sents.length; i++) {
        const sent = sents[i];
        let tr = $('#tr-template').html();

        const index = sent['index'];
        const text = sent['text'];

        tr = tr.split('<%index%>').join(sent['index']);
        tr = tr.replace('<%text%>', this.render_markup_sentence(Number(index), text, annotation_map[Number(index)]));
        tbody.append(tr);
      }
    },
    render_markup_sentence: function (index, text, annotations) {
      const start = {}, end = {};
      for (let i = 0; i < annotations.length; i++) {
        const item = annotations[i];
        if (item.type !== 'event') continue;
        if (item.index !== index) continue;
        start[item.anchor_offset] = i;
        end[item.focus_offset] = i;
      }
      let markup = '';
      for (let i = 0; i < text.length; i++) {
        if (i in start) {
          markup += '<span class="badge badge-success">';
        }
        markup += text[i];
        if (i + 1 in end) {
          markup += '</span>';
        }
      }
      // console.log('markup :', markup, start, end);
      return markup;
    },
  };

  $(document).ready(function () {
    event.selection_listen();
    // event.listen_key();

    api.get_doc(function (data) {
      renderer.state.sents = data['sents'];
      renderer.load_annotation_and_render_table();
    });
    modal.init();
  })

</script>
</body>
</html>