<!doctype html>
<html lang="en">
{% include 'base/head.html' %}
<style>
    .pagination {
        margin: 40px 20px 70px 0;
        float: right;
    }

    table tr {
        text-align: center;
    }

    table td {
        text-align: center;
    }

    .page-link {
        color: #6c757d;
    }
</style>
<body>
{% include 'base/navbar.html' %}
<div class="container">
    <div style="padding: 20px 0;">
        <h3>Documents</h3>
        Type:
        <a href="/"><button type="button" class="btn {% if type == 'v1' %} btn-primary {% endif %}">v1</button></a>
        <a href="/v2"><button type="button" class="btn {% if type == 'v2' %} btn-primary {% endif %}">v2</button></a>
        <a href="/v3"><button type="button" class="btn {% if type == 'v3' %} btn-primary {% endif %}">v3</button></a>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th>title</th>
            <th>my progress</th>
            <th>upload status</th>
        </tr>
        </thead>
        <tbody>
        {% for doc in docs %}
        <tr>
            <td>
                {{doc['seq']}}
            </td>
            <td>
                <a href="/doc/{{doc.seq}}">
                    {{doc['title']}}
                </a>
            </td>
            <td>
                {{doc['progress']}}/{{doc['sent_total']}}
            </td>
            <td id="{{doc.id}}">
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="javascript:go('1')">First</a>
            </li>
            {% for i in range(pagination['left'], pagination['right'] +1) %}
            <li class="page-item {% if pagination['page'] == i %} active {% endif %}">
                <a class="page-link" href="javascript:go('{{i}}')">{{i}}</a>
            </li>
            {% endfor %}
            <li class="page-item">
                <a class="page-link" href="javascript:go('{{pagination.total_page}}')">Last</a>
            </li>
            <div class="input-group mb-3 ml-3">
                <input type="text" class="form-control" placeholder="Page number" id="page-number" aria-label=""
                       aria-describedby="button-addon">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="page-number-button-addon">Go</button>
                </div>
            </div>
        </ul>
    </nav>
</div>
{% include 'base/script.html' %}

<script>
  function go(page_number) {
    location.assign(location.pathname + '?p=' + page_number);
  }

  $(document).ready(function () {
    for (let i = 0; i <= localStorage.length - 1; i++) {
      let key = localStorage.key(i);
      $('#' + key).html('<i class="fas fa-check"></i>');
    }

    $('#page-number-button-addon').click(function () {
      let page_number = $('#page-number').val();
      if (!page_number) page_number = 1;
      go(page_number)
    })
  });
</script>
</body>
</html>
