<!doctype html>
<html lang="en">
{% include 'base/head.html' %}
<style>
    .pagination {
        margin: 40px 20px 70px 0;
        float: right;
    }

    table tr {
        text-align: center;
    }

    table td {
        text-align: center;
    }

    .page-link {
        color: #6c757d;
    }
</style>
    

<body>
{% include 'base/sentence_navbar.html' %}
<div class="container">
    
    
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th>title</th>
            <th>my progress</th>
            <th>upload status</th>
        </tr>
        </thead>
        <tbody>
        {% for psent in prevsents %}
        <tr>
            <td>
                <a href="/view_sent/{{psent.id}}">
                    {{psent['id']}}
                </a>
            </td>
            <td>
                <a href="/view_sent/{{psent.id}}">
                    {{psent['text']}}
                </a>
            </td>
            <td>
                <a href="/view_user/{{psent.user.username}}">
                    {{psent['user'].username}}
                </a>
            </td>
            <td>
                <a>
                    Placeholder
                </a>
            
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    
    
    {% for psent in prevsents %}
        <td>
            <a href="/view_sent/{{psent.id}}">
            {{psent['text']}}
                </a>
        </td>    
        
    {% endfor %}
    
    <td>
        {{sent['text']}}
    </td>    
    
    <td>
        <a href="/view_user/{{sent.user.username}}">
            {{sent['user'].username}}
        </a>
    </td>
    <form>    
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Write a sentence that continues the story above</label>
        <textarea class="form-control" id="storyForm" rows="2"></textarea>
      </div>    
    <button type="submit" class="btn btn-primary" id="submit-btn">Submit</button>
    </form>
</div>
{% include 'base/script.html' %}

<script>
  $('#submit-btn').click(function () {
    var text = $('#storyForm').val().trim();
    var parent_id = window.location.href["split"]("_sent/")[1]["split"]("?")[0]
    
    if (!text) {
      swal({
        title: '',
        text: 'Please enter the text.',
        type: 'error',
      });
      return;
    }

    $(this).hide();
    $.ajax({
      url: '/api/sentence/upload',
      contentType: 'application/json',
      type: 'POST',
      data: JSON.stringify({
        text: text,
        is_root: false,
        parent_id: parent_id
      }),
    }).done(function (data) {
      var doc = JSON.parse(data);
      localStorage.setItem(doc_type + '_' + doc.doc_id, data);
      location.assign('/mturk/doc/' + doc.doc_id + '/v2');
    }).fail(function () {
      $(this).show();
      swal({
        title: '',
        text: 'Error occurred. Please contact the administrator.',
        type: 'error',
      });
    })
  })
    
    
</script>
</body>
</html>
